@model DotVacay.Web.Models.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5" style="max-width:400px; margin:auto;">
    <h2 class="text-center">Log In</h2>
    @if (TempData["FailMessage"] != null)
    {
        <div class="alert alert-danger text-center">@TempData["FailMessage"]</div>
    }

    <form asp-action="LogIn" method="post" class="mt-4">

        <div class="mb-3">
            <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100">Log In</button>
    </form>

    <p class='text-center mt-3'>
        Don't have an account yet?
        <a href="/Registration/Register">Register</a>.
    </p>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
