bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.pidb
*.vcproj
*.vsidx
*.vspscc
*.vssscc
builds/
*.md
.DS_Store
dotvacay*.db
dotvacay*.db-shm
dotvacay*.db-wal
.env
appsettings.Production.json
